.profile-activity{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    width: 80%;
    overflow: auto;
}
.post-section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--crdColor);
    border-radius: 1rem;
    gap: 1rem;
}
hr{
    position: absolute;
    width: 60vw;
    right: 7rem;
    bottom: 18rem;
    border: 1px solid var(--hrColor);
}
.nav-post{
    position: absolute;
    bottom: 18rem;
    right: 30rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.nav-post>li{
    list-style: none;
    font-weight: 500;
}
